* {
    box-sizing: border-box;
    line-height: 12pt;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/* smooth scrolling 
https://nikitahl.com/smooth-scroll-to-anchor#:~:text=Smooth%20scroll%20with%20CSS,specified%20part%20of%20your%20page.
*/
html {
    scroll-behavior: smooth;
}

body {
    width: auto;
    margin: 0;
}


header {
    background: #31343D;
    width: 100%;
    height: 65px;
    margin: 0;
}

.hd {
    position: relative;
    background: #92CCCD;
    width: 30%;
    height: 1.5em;
    top: 15px;
    padding: 5px;
}

h1 {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25em;
    color: white;
    text-align: right;
}

nav {
    margin-top: -50px;
    padding: 0 0 20px 0;
    display: flex;
    flex-direction: row;
}
.navigation-list {
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    width:100%;
}


.navigation-list a {
    color: #92CCCD;
    padding: 20px;
    text-underline-offset: 10px;    
}

figure {
    margin: 0;
    height: 300px;
    width: auto;
}

.fig {
    display: flex;
    justify-content: flex-end;
    margin-top: -100px;
    text-align: center;
    font-size: 2em;
    font-style: italic;
    line-height: 2.5em;
    height: auto;
    
}

figcaption {
    color: white;
    background: #31343dbb;
    padding: 10px;

}

.hero {
    grid-area: hd;
    width: 100%;
    margin: 0;
    padding: 0;
}

#hero-img {
    height: 300px;
    width: 100%;
    object-fit: cover;
}

/* Main grid */
main {
    margin: 0;
    padding: 30px 50px 0 50px;
    font-family: Arial, Helvetica, sans-serif;
    display: grid;
    grid-template-columns: auto 35% 35%;
    grid-template-rows: 80px auto auto auto;
    grid-template-areas:    "about blurb blurb"
                            "work big big"
                            "work card2 card3"
                            "work card4 card5"
                            "contact footer footer";
    gap: 50px;
    overflow-y: scroll;
    scroll-behavior: smooth;
}

aside {
    text-align: right;
    border-right: 2px solid black;
}

h2, h3, h4 {
    margin: 20px;
}

.blurb {
    grid-area: blurb;
    width: 100%;
}

.blurb p {
    padding: 10px 0 0 0;
}

.big-work{
    grid-area: big;
    margin: 0;
    top: 0;
    height: 100%;
}

.big-work:hover, .card-2:hover, .card-3:hover, .card-4:hover, .card-5:hover {
    box-shadow: inset 0 0 30px #92CCCD, 0 0 30px #92CCCD;
    transition: all 0.5s ease-in-out;
    }


/* set up overlay styling */
/*https://www.youtube.com/watch?v=exb2ab72Xhs */
.big-work, .card-2, .card-3 {
    position: relative;
}

#big-card, #small-card {
    display: block;
    width: 100%;
}

.card-overlay {
    position: absolute;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,.6);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.25s;
}

/* '> *' this means target every direct child of card-overlay eg. image-title, image description */
/* Start overlay from 20px down Y-axis */
.card-overlay > * {
    transform: translateY(20px);
    transition: transform 0.25s;
} 

.card-overlay:hover {
    opacity: 1;
}

/* When hover restore overlay text to 0 Y-axis */
.card-overlay:hover > * {
    transform: translateY(0px);
}

.image-title {
    font-size: 1.75em;
    font-weight: bold;
}

.image-description {
    font-size: 1em;
    margin-top: 1em;
}

#small-card {
    object-fit:fill;
    width: 100%;
}

.card-2 {
    grid-area: card2;
    margin: 0;
}

.card-3 {
    grid-area: card3;
}

.card-4 {
    grid-area: card4;
}

.card-5 {
    grid-area: card5;
}


.about {
    grid-area: about;
}


.work {
    grid-area: work;
}

.contact {
    grid-area: contact;
}

footer {
    display: flex;
    align-items: center;
    width: auto;
    grid-area: footer;
}

.footer-list {
    display: flex;
    width: 100%;
    flex-direction:row;
    justify-content: space-evenly;
    list-style: none;
    align-items: center;
}

.footer-list a{
    text-decoration: none;
    padding: 10px;
}



@media screen and (max-width: 415px) {
    /* Use flex-direction to stack the navbar */
    
    header {
        margin: 0;
        padding: 0;
    }
    .hd {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 50px 0;
        padding: 5px 0 10px 5px;
        width: auto;
        background: none;
    }

    nav {

        padding: 0;
        margin: 0;
        background-color: #92CCCD;
    }

    .navigation-list {
      flex-direction: column;
      top: 100px ;
      text-align: center;
      width: 100%;
      text-underline-offset: 0;
      padding: 0;
      
    }

    .navigation-list li {
        padding: 10px;
        background: #92CCCD;
        color: white;
        width: 100%;
        
    }

    .navigation-list a {
        display: block;
        width: 100%;
        padding: 0;
        color: white;
        text-decoration: none;
    }

    .navigation-list li:hover {
        background-color: white;
    }

    .navigation-list a:hover {
        color: #92CCCD;
    }

    #hero-img {
        object-fit:scale-down;
        height: auto;
    }
    main {
        display: flex;
        flex-wrap: wrap;
        padding: 0;
        gap: 10px;
        justify-content: center;
    }

    figure {
        height: auto;
    }
    .fig {
        margin: 0;
        justify-content: center;

    }

    figcaption {
        background: #96cfd07e;
        margin-top:-3px;
        width: 100%;
    }

    h2, h3, h4 {
        padding-top: 40px;
        margin:0;
    }

    .blurb {
        padding: 20px;
    }

    aside, article, section, footer {
        width: auto;
        border: none;
    }

    aside {
        padding: 0;
        margin: 0;
    }

    a {
        padding:0;
        margin:0;
    }

footer {
        width: 100%;
        height: auto;
        padding-bottom: 20px;
    }

    .footer-list {
        padding: 5px;
        flex-direction: column;
        align-items:center;
        height: auto
    }

    .footer-list li {
        margin: 5px;
        width: 100%;
        text-align: center;
    }

    .footer-list li:hover {
        background: #92CCCD;
    }

    .footer-list a {
        color: #92CCCD;
    }

    .footer-list a:hover {
        color: white;
    }
}

/* arrow to top */
    .top {
        position: fixed;
        bottom: 10px;
        right: 10px;
        padding: 10px 12px;
        background: rgba(0,0,0,.3);
        border-radius: 5px;
        }

    .top:hover {
            text-decoration: none;
            background: rgba(0,0,0,.5);
    }